<section>
    <h2>Entre como participante</h2>
    <form action="">
      <label class="sr-only" for="room-id">código da sala</label>
      <input type="number" id="room-id" placeholder="código da sala"> <!--type= "number" é para o usuario digitar apenas numeros-->
      <button>
        <img src="images/enter-room.svg" alt="entrar na sala">
        entrar na sala
      </button>
    </form>
  </section>

  <div class="separator">
      <div></div>    
      <div>ou</div>
      <div></div>
    </div>

    <section>
      <h2>Crie sua propria sala de forma fácil</h2>
      <a href="/create-pass" class="button outlined"> <!-- aqui eu add a class button para transformar em um botão -->
        <img src="images/users.svg" alt="criar sala">
        Criar sala
        </a>
 </section>
